@import "tailwindcss";

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(15px);
  }
}

.animate-fadeUp {
  animation: fadeUp 0.4s ease forwards;
}

.animate-fadeDown {
  animation: fadeDown 0.4s ease forwards;
}